body{
margin: 0;
font-family: courier;
background-color: #f3f3f3;
color: black;
}
header{
display: grid;
grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: #363636;
grid-gap: 5px;
overflow: hidden;
}
header>section>a{
text-decoration: none;
color: white;
padding-left: 35px;
padding-right: 35px;
padding-top: 50px;
padding-bottom: 50px;
}
header>section>a:hover{
background-color: #929292;
}
header>.lenke{
  align-self: center;
}
.logo{
  width: 200px;
}
.handlekurv{
  width: 75px;
  margin-top: 15px;
}
.usynlig{
  opacity: 0;
}
.logolenke{
padding:0;
}
.handlekurvlenke{
padding:0;
}
main{

}
#modellbilde{
width: 100%;
display: block;
}
#forsidetekst{
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
#påTopp{
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
#populaert{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#inspirerende{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#inspirerendeBilde{
  width: 100%;
}
.browseshoes{
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.skoene{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
.aside{
background-color: white;
text-align: center;
font-size: 70px;
}
.merkesko{
  display: block;
  width: 405px;
  align-content: space-around;
}
.skobilder{
  border: solid black 1px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.expandedview{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.storsko{

}
.storskobilde{
  width: 500px;
  margin-left: 100px;
  margin-top: 75px;
  display: block;
  border: 1px solid black;
}
.info_om_sko{
margin-top: 75px;
margin-right: 100px;
}
.info_om_sko_innhold{
  font-size: 10px;
}
.legg_til_i_handlekurv{
  display: block;
  width: 400px;
}
.anbefalt{
  margin-top:100px;
  text-align: center;
}
.andre_sko{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}
footer{
color: #7A7A7A;
}
.linje{
  display: block;
  width: 1000px;
  height: 100px;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
}


.c-span2{
  grid-column: span 2;
}
.c-span3{
  grid-column: span 3;
}
.r-span2{
  grid-row: span 2;
}
.r-span3{
  grid-row: span 3;
}
